/* ================================= 
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 1.3em;
  color: #6c737a;
  font-family: 'Spinnaker', sans-serif;
}

#signup,
#contact,
#newsletter {
  color: #123456;
}

.container-1,
.container-2 {
  border: none;
}

.signup {
  width: 99%;
  max-width: 800px;
  margin: 0 auto 5px auto;
}

.main-form {
  border-top: 3px solid #123456;
  background: #fafbfc;
  width: 99%;
  max-width: 800px;
  padding: 0 1em;
  margin: 0 auto;
}

.container-1 {
  border-bottom: 3px solid #123456;
}

.info {
  margin-bottom: 30px;
}

.container-2 h2 {
  margin-bottom: 0;
}

.main-header,
.main-footer {
  text-align: center;
}

.main-footer {
  background: #fafbfc;
  padding-top: 30px;
}

/* ====== Pseudo Elements ====== */

.container-1 input[type="text"]:focus,
.container-1 input[type="email"]:focus,
.container-1 input[type="tel"]:focus,
textarea:focus,
select:focus {
  outline-color: #62b8c4;
}

.submit:hover {
  background: #48cadb;
  border: 2px solid #123456;
}

.submit:active {
  background: #62b8c4;
}


/* ====== Header Styles ====== */

.main-header {
  border-bottom: 5px solid #123456;
}

.title {
    text-transform: uppercase;
    background: #123456;
    color: white;
    padding: 10px 0 10px 0;
    margin: 0;
}

.signup {
  border-bottom: 5px solid #123456;
  text-align: center;
}

/* ====== Footer Styles ====== */


.copyright {
  color: #6c737a;
  font-style: italic;
  font-size: 1.1rem;
}


/* ================================= 
  Input Styles
==================================== */

input::placeholder,
#state {
  font-style: italic;
  font-size: 1rem;
  text-align: right;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 10px;
  display: inline-block;
}

.container-1 input,
.container-1 select {
  margin: 10px 0 20px 0;
}

.container-1 input[type="text"],
.container-1 input[type="email"],
.container-1 input[type="tel"],
textarea,
select {
  display: block;
  background: #e2e6e9;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px 25px 15px 25px;
  font-size: 1.5rem;
  color: #6c737a;
  transition: all 2s ease;
  outline-color: #123456;
}

.other {
  margin-top: 15px;
}

.submit {
  display: block;
  margin: 0 auto;
  width: 92%;
  padding: 30px 0 30px 0;
  color: white;
  border: 2px solid #fafbfc;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: background .5s ease,
              border .5s ease;
  background: #62b8c4;
}

.radio {
  display: block;
}

.inline {
  display: flex;
  flex-direction: column;
}




/* ================================= 
  Media Queries
==================================== */

@media(min-width: 768px) {
  
  .main-footer {
    background: white;
  }
  .main-form {
    padding-bottom: 13px;
  }

  .inline {
    flex-direction: row;
  }

  .inline label {
    width: 40%;
    align-self: center;
    margin-right: 30px;
  }

  .inline input {
    margin-bottom: 10px;
    overflow: auto;
  }

  .container-1 input[type="text"],
  .container-1 input[type="email"],
  .container-1 input[type="tel"] {
    padding: 4px 15px 4px 50px;
  }
}